.UserWrapper {
  width: 90%;
}

.avatarFollow {
  width: 30%;
  display: inline-block;
}

.showMore {
  margin: 30px auto;
  position: relative;
  left: 50%;
  margin-left: -75px;
  width: 150px;
  height: 35px;
  
}

.userWrapper__name {
  vertical-align: top;
}

.other{
  vertical-align: top;
  display: inline-block;
  width: 70%;
}

.other__city {
  text-align: right;
  width: 100%;
}

.userWrapper__status {
  vertical-align: top;
}

.avatarUser {
  width: 150px;
}

.PageActive {
  font-weight: bold;
}