.Wrapper {
  display: grid;
  background-color: #282c34;
  color: white; 
  grid-template-areas:
    "header header"
    "nav content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 5fr;
  grid-gap: 10px;
  padding-left: 400px;
  padding-right: 400px;
}

a {
  text-decoration: none;
  color: powderblue;
}

.content {
  grid-area: content;
  height: 1000px;
}