.dialogs, .messages {
  margin-top: 20px;
  display: inline-block;

}

.dialogs__item, .messages__item {
  margin-bottom: 20px;
  margin-right: 50px;
  display: inline-block;
}

.dialogs__item-online::after {
  content: '';
  display: inline-block;
  margin-left: 8px;
  margin-top: 11px;
  vertical-align: top;
  width: 5px;
  height: 5px;
  background-color:green ;
  border-radius: 50%;
}

.dialogs__item-offline::after {
  content: '';
  display: inline-block;
  margin-left: 8px;
  margin-top: 11px;
  vertical-align: top;
  width: 5px;
  height: 5px;
  background-color:grey ;
  border-radius: 50%;
}